.card {
  max-height: 25rem;
  width: 13rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(33, 185, 241);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 10px 0px;
}
.poster img {
  max-width: 20rem;
  max-height: 20rem;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.overview{
  transform: translateY(100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(33, 185, 241);
  padding: 1rem;
  overflow: auto;
  margin-top: 3rem;
  border-radius: 1.5rem;
  transition: 0.3s ease-in-out;
}

.card:hover .overview{
  transform: translateY(0%);
}

.overview_info {
  color: black;
  font-size: 16px;
  font-family: arial;
  /* Additional styling can be added here */
}

.title{
  color: black;
  font-size: 15px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
}

.vote {
  font-size: 16px; /* Adjust the value as needed */
  font-weight: bold;
  /* Additional common styling properties */
}

.vote.above {
  color: rgb(5, 137, 27);
}

.vote.mid {
  color: yellow;
}

.vote.below {
  color: rgb(232, 5, 5);
}
